<div
  class="todo-item d-flex align-items-center justify-content-between"
  (mouseover)="isHover = true"
  (mouseout)="isHover = false"
>
  <div class="todo d-flex align-items-center w-100">
    <input
      [checked]="todo.isCompleted"
      [id]="todo.id"
      type="checkbox"
      class="toggle"
      (change)="toggleTodoStatus()"
    />
    <label [for]="todo.id">{{ todo.content }}</label>
  </div>
  <div class="d-flex align-items-center">
    <svg
      [ngClass]="{ 'is-active': isHover }"
      (click)="isEditing = true"
      class="icon edit"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
      />
    </svg>
    <svg
    (click)="removeTodo()"
      class="icon remove"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>
  <form class="edit-form" *ngIf="isEditing">
    <input
      type="text"
      [(ngModel)]="todo.content"
      (keyup.enter)="onSubmit()"
      name="editTodo"
    />
  </form>
</div>
